#columns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#left-column{
    width: 70%;
}

#user-name{
    font-size: 50px;
    margin: 0px;
}

#user-type{
    margin: 0px;

    font-weight: normal;
    font-size: 30px;
}

#next-booking{
    display: flex;

    font-size: 25px;
    margin-top: 20px;
}

#bold-next-booking-heading{
    font-weight: bold;
    margin: 0px;
    margin-right: 6px;
    font-size: 25px;
}

.active-booking-string{
    color: green;
    font-size: 25px;
    margin: 0px;

}

.inactive-booking-string{
    color: black;
    font-size: 25px;
    margin: 0px;
}

#see-all-bookings{
    font-size: 25px;

    border-bottom: dotted;
    border-width: 3px;
    border-color: 97999e;
    color: #97999e;
    text-decoration: none;

    margin: 0px;
}

#cars-header{
    font-size: 25px;
}

.car-box{
    display: flex;
    justify-content: space-between;

    border-radius: 2rem;
    background-color: #b0bbe9;

    padding: 10px 20px;

    margin: 10px 0px;
}

.registration{
    margin: 0px;
    font-weight: bolder;
    font-size: 40px;
}

.inline-car-box-text{
    display: flex;
}

.car-info-header{
    font-weight: bold;
    margin-right: 5px;
    margin: 0px;
}

.car-info-in{
    margin: 0px;
}

.car-box-right{
    display: flex;
}

.car-image{
    height: 92px;
    border-radius: 2rem;
}

.delete-car{
    height: 92px;
}

#add-car-submit{
    all: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

#add-car-border{
    padding: 10px;

    width: 100%;

    display: flex;
    justify-content: center;

    border: solid;
    border-width: 5px;
    border-color: #97999e;
    border-radius: 2rem;
}

#add-car-border:hover{
    background-color: #ececec;
}

#add-car{
    display: flex;
}

#add-car-text{
    color: #97999e;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}


#right-column{
    width: 25%;
    margin-top: 15px;
    padding: 20px;
    padding-top: 0px;
}

#profile-picture{
    width: 100%;
    border-radius: 100%;
}

#mini-submit{
    all: unset;
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

#mini-button-border{
    padding: 10px;
    margin-top: 7px;

    width: 100%;

    display: flex;
    justify-content: center;

    border-radius: 1rem;

    background-color: #484848;
}

#mini-button-border:hover{
    background-color: #575757;
}

#mini-button-group{
    display: flex;
}

#mini-button-image{
    height: 20px;
}

#mini-button-text{
    color: #ffffff;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    margin-left: 5px;
}

.non-functional-buttons{
    display: none;
}

.functional-buttons{
    display: block;
}


#edit-user-window{
    display: none;
    flex-direction: column;

    width: 1000px;
    height: 500px;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;

    border-radius: 3rem;
    border-color: black;
    border-width: 10px;
    border-style: solid;

    background-color: white;

    margin: auto;
    padding: 15px;
}

#edit-user-top-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
}

#pop-up-title{
    padding: 0px;
    margin: 0px;

    font-size: 50px;
}

.close-button{
    all: unset;
    cursor: pointer;

    width: 50px;
    height: 50px; 

    margin-left: auto;
    margin-right: 0px;
}

#edit-user-form{
    display: flex;
    justify-content: space-between;
}

#edit-user-left-column{
    width: 630px;
}

#names-inputs{
    display: flex;
}

#names-separator{
    width: 40px;
}

.edit-user-subtitle{
    font-size: 30px;
    font-weight: normal;

    padding: 0px;
    padding-bottom: 3px;
    margin: 0px;

    margin-top: 20px;
}

.edit-user-text-input{
    width: 100%;

    margin: 0px;
    padding: 5px 7px;

    font-size: 25px;

    border-radius: 2rem;
    border-width: 2px;
    border-color: black;
}

#types-radio{
    display: flex;
    justify-content: space-evenly;
}

.user-type-radio-item{
    display: flex;
}

.user-type-radio-item p{
    margin: 0px;
    padding: 0px;
    padding-left: 3px;

    font-size: 30px;

    margin: auto;
}

.user-type-radio-item input[type=radio]{
    width: 40px;
    height: 40px;
}

#edit-user-right-column{
    display: flex;
    flex-direction: column;

    width: 330px;
    align-items: center;
}

#edit-user-right-column input[type=file]{
    display: none;
}

#custom-image-upload{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    width: 280px;
    height: 280px;

    margin-bottom: 20px;
    border-radius: 100%;

    cursor: pointer;
}

#edit-user-image{
    position: absolute;
}

#edit-user-image img{
    width: 280px;
    height: 280px;

    border-style: solid;
    border-radius: 100%;
    border-width: 2px;
    border-color: black;
}

#custom-image-upload:hover{
    background-color: #e1e1e1FF;
}

#image-upload-content{
    display: flex;
    align-items: center;
    position: absolute;
}

#image-upload-content p{
    font-size: 30px;
    margin-left: 5px;
}

#edit-user-submit-button{
    width: 100%;

    border-radius: 2rem;
    border-style: none;

    background-color: #182041;
    color: white;

    font-size: 30px;
    font-weight: bold;

    padding: 5px;
    margin-bottom: 5px;

    cursor: pointer;
}

#contact-window{
    display: none;
    flex-direction: column;

    width: 750px;
    height: 300px;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 999;

    border-radius: 3rem;
    border-color: black;
    border-width: 10px;
    border-style: solid;

    background-color: white;

    margin: auto;
    padding: 15px;
}

#contact-top-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;

    padding-bottom: 20px;
}

#contact-container p{
    font-size: 40px;
    margin: 0px;
}