<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Car Park - Admin View User</title>

        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/view-user-bookings.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/userBookings.js"></script>
    </head>

    <body onresize="checkSize()">
        <header> 
            <div class="header-parent">
                <div class="header-child-text">Collyer's Car Park</div>

                <nav class="header-child-list">
                    <ul class="navigation-list">
                        <li class="navigation-item"><a href="./admin-dashboard" class="nav-button">Dashboard</a></li>
                        <li class="navigation-item"><a href="./admin-users" class="nav-button-current">Users</a></li>
                        <li class="navigation-item"><a href="./admin-pending" class="nav-button">Pending Requests</a></li>
                        <!-- TODO: Stretch target - <li class="navigation-item"><a href="blog-overviews.html" class="nav-button">Search</a></li> -->

                        <!-- SIDE BAR
                        <li class="show-side-bar-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                        <li class="hide-side-bar-button" onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                    -->
                    </ul>
                </nav>
            </div>
        </header>

        <!-- SIDE BAR - FUTURE IMPLEMENTATION?
        
        <nav class="side-bar-list">
            <ul class="side-bar-navigation-list">
                <li><a href="#" class="nav-button-current">Home</a></li>
                <li><a href="about.html" class="nav-button">About</a></li>
                <li><a href="portfolio.html" class="nav-button">Portfolio</a></li>
                <li><a href="freelance.html" class="nav-button">Freelance</a></li>
                <li><a href="blog-overviews.html" class="nav-button">Blog</a></li>
                <li><a href="contact.html" class="nav-button">Contact</a></li>
            </ul>
        </nav>
        
        -->

        <section class="container">
           <h1 id="title">{{name}} - Bookings</h1>

           {% for booking in bookings: %}
                <div class="booking-border">
                    <h3 class="date-line">{{ booking[1] }}</h3>

                    <div class="booking-right-side">
                        <button class="booking-button"> <!-- TODO: add functionality for delete booking button -->
                            <svg class="booking-svg" xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="#000000"><path d="M269-86q-53 0-89.5-36.5T143-212v-497H80v-126h257v-63h284v63h259v126h-63v497q0 53-36.5 89.5T691-86H269Zm422-623H269v497h422v-497ZM342-281h103v-360H342v360Zm173 0h103v-360H515v360ZM269-709v497-497Z"/></svg>                        
                        </button>

                        <button class="booking-button"> <!-- TODO: add functionality to print booking button -->
                            <svg xmlns="http://www.w3.org/2000/svg" height="75px" viewBox="0 -960 960 960" width="75px" fill="#000000"><path d="M628-674v-74H332v74H206v-200h548v200H628ZM172-548h616-616Zm526 131q23 0 39-15.81 16-15.82 16-39.19 0-23-15.81-39.5T698-528q-23 0-39.5 16.5T642-472q0 23 16.5 39t39.5 16Zm-70 229v-83H332v83h296ZM754-69H206v-183H46v-268q0-64 44.04-109T197-674h566q64.17 0 107.59 45Q914-584 914-520v268H754v183Zm34-309v-144q0-11.05-7.47-18.53Q773.05-548 762-548H197q-10.62 0-17.81 8.5Q172-531 172-520v142h34v-19h548v19h34Z"/></svg>                        
                        </button>
                    </div>
                </div>
           {% endfor %}

           <button id="add-booking-button" onclick=showBooking()> <!-- TODO: add functionality to add booking button -->
                <div id="add-booking-border">
                    <div id="add-booking-content">
                        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#4a4a4a"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                        <h2 id="add-booking-text">ADD BOOKING</h2>
                    </div>
                </div>
           </button>
        </section>

        <section id="add-booking-type-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Booking Type - {{ name }}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <button class="add-booking-type-button" onclick=showDayPassBooking()>
                    <p>Day Pass</p>
                </button>

                <button class="add-booking-type-button" onclick=showSeasonPassBooking()>
                    <p>Season Pass</p>
                </button>

                <button class="add-booking-type-button" onclick=showUnlimitedPassBooking()>
                    <p>Unlimited Pass</p>
                </button>
            </div>
        </section>

        <section id="add-day-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Day Pass - {{ name }}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/day/bookings?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">
                    <input class="add-booking-submit" type="submit" name="submitDayPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <section id="add-season-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Season Pass - {{ name }}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/season/bookings?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Start Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">

                    <p class="add-booking-dates-subtitle"> End Date:</p>
                    <input id="day-pass-start-date" type="date" name="endDate">

                    <input class="add-booking-submit" type="submit" name="submitSeasonPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <section id="add-unlimited-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Unlimited Pass - {{ name }}</h3>

                <button class="close-button" onclick=hideBooking()>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/unlimited/bookings?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Start Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">
                    <input class="add-booking-submit" type="submit" name="submitUnlimitedPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <footer id="main-footer">
            <hr>
            <small>Copyright &copy; 2026 by George Cooke</small>
        </footer>
    </body>
</html>