<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Collyer's Car Park - Admin View User</title>

        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/view-user.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">

        <script defer src="static/js/viewUser.js"></script>
    </head>

    <body onresize="checkSize()">
        <header> 
            <div class="header-parent">
                <div class="header-child-text">Collyer's Car Park</div>

                <nav class="header-child-list">
                    <ul class="navigation-list">
                        <li class="navigation-item"><a href="./admin-dashboard" class="nav-button">Dashboard</a></li>
                        <li class="navigation-item"><a href="./admin-users" class="nav-button-current">Users</a></li>
                        <!-- <li class="navigation-item"><a href="./admin-pending" class="nav-button">Pending Requests</a></li> -->
                        <!-- TODO: Stretch target - <li class="navigation-item"><a href="blog-overviews.html" class="nav-button">Search</a></li> -->

                        <!-- SIDE BAR
                        <li class="show-side-bar-button" onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                        <li class="hide-side-bar-button" onclick=hideSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
                    -->
                    </ul>
                </nav>
            </div>
        </header>

        <!-- SIDE BAR - FUTURE IMPLEMENTATION?
        
        <nav class="side-bar-list">
            <ul class="side-bar-navigation-list">
                <li><a href="#" class="nav-button-current">Home</a></li>
                <li><a href="about.html" class="nav-button">About</a></li>
                <li><a href="portfolio.html" class="nav-button">Portfolio</a></li>
                <li><a href="freelance.html" class="nav-button">Freelance</a></li>
                <li><a href="blog-overviews.html" class="nav-button">Blog</a></li>
                <li><a href="contact.html" class="nav-button">Contact</a></li>
            </ul>
        </nav>
        
        -->

        <section class="container">
           <div id="columns">
                <div id="left-column"> <!-- The left hand column of the user profile page -->
                    <h1 id="user-name">{{user_data["First Name"]}} {{user_data["Last Name"]}}</h1>
                    <h3 id="user-type">{{user_data["User Type"]}}</h3>

                    <div id="next-booking">
                        <p id="bold-next-booking-heading">Next Booking: </p>

                        {% if user_data["Booking String"][-1] == ")": %}
                            <p class="active-booking-string">{{ user_data["Booking String"] }}</p>
                        {% else: %}
                            <p class="inactive-booking-string">{{ user_data["Booking String"] }}</p>
                        {% endif %}
                    </div>

                    <a href="/admin-view-user-bookings?uid={{ userID }}" id="see-all-bookings">See All Bookings</a> <!-- TODO: Add functionality to see all bookings link in user profile -->

                    <h3 id="cars-header">Cars:</h3>

                    <div id="cars-collection">
                        {% for car in user_cars: %}
                            <div class="car-box">
                                <div class="car-box-left">
                                    <p class="registration">{{ car[1] }}</p>

                                    <div class="inline-car-box-text">
                                        <p class="car-info-header">Make: </p>
                                        <p class="car-info-in">{{ car[2] }}</p>
                                    </div>

                                    <div class="inline-car-box-text">
                                        <p class="car-info-header">Model: </p>
                                        <p class="car-info-in">{{ car[3] }}</p>
                                    </div>
                                </div>

                                <div class="car-box-right">
                                    <img class="car-image" src="static/userImages/car/{{ car[4] }}" alt="Car image">
                                    <form name="deleteCar" method="post" action="/admin-delete-car?uid={{ userID }}&cid={{ car[0] }}">
                                        <input class="delete-car" type="image" src="static/img/delete.png" alt="submit" value="" name="delete">
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="functional-buttons">
                        <button id="add-car-submit" onclick=showAddCar()> <!-- TODO: update CSS to show add car window -->
                            <div id="add-car-border">
                                <div id="add-car">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#97999e"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                                    <p id="add-car-text">ADD CAR</p>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="non-functional-buttons">
                        <button id="add-car-submit">
                            <div id="add-car-border">
                                <div id="add-car">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#97999e"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                                    <p id="add-car-text">ADD CAR</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>

                <div id="right-column"> <!-- The right hand column of the user profile page containing profile pic and edit buttons -->
                    <img id="profile-picture" src="static/userImages/profile/{{ user_data['Profile Picture'] }}" alt="Profile Picture">

                    <div class="functional-buttons">
                        <button id="mini-submit" onclick=showContact()>
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M172-126q-53 0-89.5-36.5T46-252v-456q0-53 36.5-89.5T172-834h616q53 0 89.5 36.5T914-708v456q0 53-36.5 89.5T788-126H172Zm308-271L172-597v345h616v-345L480-397Zm0-111 308-200H172l308 200Zm-308-89v-111 456-345Z"/></svg>
                                    <p id="mini-button-text">CONTACT INFO</p>
                                </div>
                            </div>
                        </button>

                        <button  id="mini-submit" onclick=showEditUsers()>
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M212-86q-53 0-89.5-36.5T86-212v-536q0-53 36.5-89.5T212-874h356L442-748H212v536h536v-229l126-126v355q0 53-36.5 89.5T748-86H212Zm268-394ZM344-344v-193l352-351q19-19 42-28t47-9q24 0 47 9t42 28l14 14q19 19 28 42.1t9 47q0 23.9-8.85 47.24Q907.3-714.32 888-695L537-344H344Zm484-441-43-42 43 42ZM450-450h42l223-223-20.63-21L673-715 450-493v43Zm244.37-244L673-715l21.37 21L715-673l-20.63-21Z"/></svg>
                                    <p id="mini-button-text">EDIT USER</p>
                                </div>
                            </div>
                        </button>

                        <button id="mini-submit" onclick=showBooking()> <!-- TODO: update CSS to show add booking -->
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                                    <p id="mini-button-text">ADD BOOKING</p>
                                </div>
                            </div>
                        </button>
                    </div>

                    <div class="non-functional-buttons">
                        <button id="mini-submit">
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M172-126q-53 0-89.5-36.5T46-252v-456q0-53 36.5-89.5T172-834h616q53 0 89.5 36.5T914-708v456q0 53-36.5 89.5T788-126H172Zm308-271L172-597v345h616v-345L480-397Zm0-111 308-200H172l308 200Zm-308-89v-111 456-345Z"/></svg>
                                    <p id="mini-button-text">CONTACT INFO</p>
                                </div>
                            </div>
                        </button>

                        <button  id="mini-submit">
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M212-86q-53 0-89.5-36.5T86-212v-536q0-53 36.5-89.5T212-874h356L442-748H212v536h536v-229l126-126v355q0 53-36.5 89.5T748-86H212Zm268-394ZM344-344v-193l352-351q19-19 42-28t47-9q24 0 47 9t42 28l14 14q19 19 28 42.1t9 47q0 23.9-8.85 47.24Q907.3-714.32 888-695L537-344H344Zm484-441-43-42 43 42ZM450-450h42l223-223-20.63-21L673-715 450-493v43Zm244.37-244L673-715l21.37 21L715-673l-20.63-21Z"/></svg>
                                    <p id="mini-button-text">EDIT USER</p>
                                </div>
                            </div>
                        </button>

                        <button id="mini-submit">
                            <div id="mini-button-border">
                                <div id="mini-button-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#ffffff"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                                    <p id="mini-button-text">ADD BOOKING</p>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
           </div>
        </section>

        <section id="edit-user-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Edit User - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideEditUsers()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <form id="edit-user-form" method="post", action="/admin-edit-user?uid={{ userID }}" enctype="multipart/form-data">
                <div id="edit-user-left-column">
                    <div id="names-inputs">
                        <div>
                            <h4 class="edit-user-subtitle">First Name:</h4>
                            <input class="edit-user-text-input" name="inputFirstName" type="text" value="{{user_data['First Name']}}">
                        </div>
                        <div id="names-separator"></div>
                        <div>
                            <h4 class="edit-user-subtitle">Last Name:</h4>
                            <input class="edit-user-text-input" name="inputLastName" type="text" value="{{user_data['Last Name']}}">
                        </div>
                    </div>

                    <h4 class="edit-user-subtitle">Email:</h4>
                    <input class="edit-user-text-input" name="inputEmail" type="text" value="{{user_data['Email']}}">

                    <h4 class="edit-user-subtitle">Phone (Optional):</h4>
                    <input class="edit-user-text-input" name="inputPhone" type="text" value="{{user_data['Phone']}}">

                    <h4 class="edit-user-subtitle">Type:</h4>
                    <div id="types-radio">
                        <div class="user-type-radio-item">
                            {% if user_data['User Type'] == "Visitor": %}
                                <input name="userType" type="radio" value="Visitor" checked>
                            {% else: %}
                                <input name="userType" type="radio" value="Visitor">
                            {% endif %}
                            <p class="user-type-heading">Visitor</p>
                        </div>

                        <div class="user-type-radio-item">
                            {% if user_data['User Type'] == "Student": %}
                                <input name="userType" type="radio" value="Student" checked>
                            {% else: %}
                                <input name="userType" type="radio" value="Student">
                            {% endif %}
                            <p class="user-type-heading">Student</p>
                        </div>

                        <div class="user-type-radio-item">
                            {% if user_data['User Type'] == "Staff": %}
                                <input name="userType" type="radio" value="Staff" checked>
                            {% else: %}
                                <input name="userType" type="radio" value="Staff">
                            {% endif %}
                            <p class="user-type-heading">Staff</p>
                        </div>
                    </div>
                </div>

                <div id="edit-user-right-column">
                    <label for="imageUpload" id="custom-image-upload">
                        <div id="edit-user-image">
                            <img src="static/userImages/profile/{{ user_data['Profile Picture'] }}" alt="Profile Picture">
                        </div>
                        <div id="image-upload-content">
                            <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M212-86q-53 0-89.5-36.5T86-212v-536q0-53 36.5-89.5T212-874h356L442-748H212v536h536v-229l126-126v355q0 53-36.5 89.5T748-86H212Zm268-394ZM344-344v-193l352-351q19-19 42-28t47-9q24 0 47 9t42 28l14 14q19 19 28 42.1t9 47q0 23.9-8.85 47.24Q907.3-714.32 888-695L537-344H344Zm484-441-43-42 43 42ZM450-450h42l223-223-20.63-21L673-715 450-493v43Zm244.37-244L673-715l21.37 21L715-673l-20.63-21Z"/></svg>
                            <p>Image</p>
                        </div>
                    </label>
                    <input id="imageUpload" type="file" name="profilePicture" accept="image/*">

                    <!-- <input name="submitResetPassword" id="edit-user-submit-button" type="submit" value="RESET PASSWORD"> TODO: Implement when adding user portal -->
                    <input name="submitEditUser" id="edit-user-submit-button" type="submit" value="SAVE">
                </div>
            </form>
        </section>

        <section id="contact-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Contact - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideContact()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="contact-container">
                <p>Email:</p>
                <p>{{user_data["Email"]}}</p>

                <br>

                <p>Phone:</p>
                <p>{{user_data["Phone"]}}</p>
            </div>
        </section>

        <section id="add-booking-type-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Booking Type - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <button class="add-booking-type-button" onclick=showDayPassBooking()>
                    <p>Day Pass</p>
                </button>

                <button class="add-booking-type-button" onclick=showSeasonPassBooking()>
                    <p>Season Pass</p>
                </button>

                <button class="add-booking-type-button" onclick=showUnlimitedPassBooking()>
                    <p>Unlimited Pass</p>
                </button>
            </div>
        </section>

        <section id="add-day-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Day Pass - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/day/profile?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">
                    <input class="add-booking-submit" type="submit" name="submitDayPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <section id="add-season-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Season Pass - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideBooking()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/season/profile?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Start Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">

                    <p class="add-booking-dates-subtitle"> End Date:</p>
                    <input id="day-pass-start-date" type="date" name="endDate">

                    <input class="add-booking-submit" type="submit" name="submitSeasonPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <section id="add-unlimited-pass-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Unlimited Pass - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideBooking()>
                    
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <div id="add-booking-container">
                <form method="post", action="/admin-add-booking/unlimited/profile?uid={{ userID }}">
                    <p class="add-booking-dates-subtitle">Start Date:</p>
                    <input id="day-pass-start-date" type="date" name="startDate">
                    <input class="add-booking-submit" type="submit" name="submitUnlimitedPass" value="ADD BOOKING">
                </form>
            </div>
        </section>

        <section id="add-car-window">
            <div id="pop-up-top-menu">
                <h3 id="pop-up-title">Add Car - {{user_data["First Name"]}} {{user_data["Last Name"]}}</h3>

                <button class="close-button" onclick=hideAddCar()>
                    <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="m256-168-88-88 224-224-224-224 88-88 224 224 224-224 88 88-224 224 224 224-88 88-224-224-224 224Z"/></svg>                    
                </button>
            </div>

            <form id="add-car-form" method="post", action="/admin-add-car?uid={{ userID }}">
                <div id="add-car-columns">
                    <div id="edit-user-left-column">
                        <p class="add-car-subtitle">Registration:</p>
                        <input class="add-car-text-entry" type="text" name="registrationIn">

                        <p class="add-car-subtitle">Make:</p>
                        <input class="add-car-text-entry" type="text" name="makeIn">

                        <p class="add-car-subtitle">Model:</p>
                        <input class="add-car-text-entry" type="text" name="modelIn">
                    </div>

                    <div id="edit-user-right-column">
                        <label for="imageUpload" id="custom-car-image-upload">
                            <div id="image-upload-content">
                                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#000000"><path d="M417-417H166v-126h251v-251h126v251h251v126H543v251H417v-251Z"/></svg>
                                <p>Add Image</p>
                            </div>
                        </label>
                        <input id="imageUpload" type="file" name="carImage" accept="image/*">

                    </div>
                </div>

                <input name="submitEditUser" id="add-car-submit-button" type="submit" value="ADD CAR">
            </form>
        </section>

        <footer id="main-footer">
            <hr>
            <small>Copyright &copy; 2026 by George Cooke</small>
        </footer>
    </body>
</html>