<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Climate Data - George Cooke</title>

        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
    </head>

    <body>
        <section class="container">
            <div id="top-row">
                <ul class="top-results">
                    <li><div class="top-results-entry"><p class="top-name">United Kingdom</p><p class="value" id="UK-top-result">{{UKValue}}</p></div></li>
                    <li><div class="top-results-entry"><p class="top-name">England</p><p class="value" id="england-top-result">{{EnglandValue}}</p></div></li>
                    <li><div class="top-results-entry"><p class="top-name">Northern Ireland</p><p class="value" id="NI-top-result">{{NorthernIrelandValue}}</p></div></li>
                    <li><div class="top-results-entry"><p class="top-name">Scotland</p><p class="value" id="scotland-top-result">{{ScotlandValue}}</p></div></li>
                </ul>

                <img id="weather-image" src="static/img/rain.jpg">
            </div>
        </section>

        <section>
            <form method="post" action="/", class="form">
                    <input type="submit" name="selectRain" class="select-button" id="rainfall-button" value="Rainfall">
                    <input type="submit" name="selectMeanTemp" class="select-button" id="rainfall-button" value="Mean Temperature">
                    <input type="submit" name="selectMinTemp" class="select-button" id="rainfall-button" value="Min Temperature">
                    <input type="submit" name="selectMaxTemp" class="select-button" id="rainfall-button" value="Max Temperature">
            </form>
        </section>

        <section>
            <div id="table-divider">
                <table id="table">
                    <tr>
                        <th>{{ColumnValues[0]}}</th> <!-- Year -->
                        <th>{{ColumnValues[1]}}</th> <!-- UK -->
                        <th>{{ColumnValues[2]}}</th> <!-- England -->
                        <th>{{ColumnValues[3]}}</th> <!-- Northern Ireland -->
                        <th>{{ColumnValues[4]}}</th> <!-- Scotland -->
                    </tr>

                    {% for row in TableValues %}
                        <tr>
                            <td>{{row[0]}}</td> <!-- Year -->
                            <td>{{row[1]}}</td> <!-- UK -->
                            <td>{{row[2]}}</td> <!-- England -->
                            <td>{{row[3]}}</td> <!-- Northern Ireland -->
                            <td>{{row[4]}}</td> <!-- Scotland -->
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</html>